<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Task</title>

</head>
<body>
<table>
    <thead>
    <tr>
        <th>Enter task description</th>
        <th>Enter task status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <form id="editTask" th:action="@{'/list/editTask/{id}'(id=${taskEdit.id})}"
              th:method="POST" th:object="${taskEdit}">

            <th>
                <input th:field="*{description}" type="text"/>
            </th>
            <th>
                <select name="status">
                    <option th:each="status : ${T(org.example.domain.Status).values()}"
                            th:text="${status}" th:value="${status}"></option>
                </select>
            </th>
        </form>
    </tr>
    </tbody>
</table>
<br>
<button form="editTask" type="submit">save task</button>

</body>
</html>