<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <style>
        td, th {
            font-size: large;
            border: solid;
            color: black;
        }

        .button-page {
            color: white;
            border: 2px solid black;
            margin: 5px;
            padding: 20px;
            font-size: large;
        }
    </style>
</head>
<body>

<h1>TODO-LIST</h1>


<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task,number : ${allTasks}">
        <td th:text="${task.id}"></td>
        <td th:id="'description_'+${task.id}" th:text="${task.description}"></td>
        <td th:id="'status_'+${task.id}" th:text="${task.status}"></td>
        <td>
            <form th:action="@{'/list/edit/{id}'(id=${task.id})}" th:method="GET">
                <button type="submit">Edit</button>
            </form>
        </td>
        <td>
            <form action="#" th:action="@{'/list/delete/{id}'(id=${task.id})}" th:method="POST">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>


    </tbody>
</table>
<br>
<br>
<br>
<button class="button-page" th:each="pageNumber : ${pageNumbers}">
    <a th:classappend="${pageNumber == currentPage? 'active_page':''}" th:href="@{/list/(page=${pageNumber}, limit=10)}"
       th:text="${pageNumber}"></a>
</button>
<br>
<br>
<br>


<form th:action="@{/list/add}" th:method="GET">
    <button type="submit">create a new task</button>
</form>


</body>

</html>

