<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <!--    <link href="/style/main.css" rel="stylesheet">-->
</head>
<body>

<h1>TODO-LIST</h1>


<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task,number : ${allTasks}">
        <td th:text="${task.id}"></td>
        <td th:id="'description_'+${task.id}" th:text="${task.description}"></td>
        <td th:id="'status_'+${task.id}" th:text="${task.status}"></td>
    </tr>

        </td>

    </tr>
    </tbody>
</table>
<br>
<table>

</table>
<br>
<br>

<h2>Hello World! index.html</h2>


</body>

</html>

